/* html5 css file, Peter Lubbers, Kaazing */

body {
	background-color:#CCCCCC;
	font-family:Geneva,Arial,Helvetica,sans-serif;
	margin: 0px auto;
	max-width:900px;
	border:solid;
	border-color:#FFFFFF;
}

header {
	background-color: #F47D31;
	display:block;
	color:#FFFFFF;
	text-align:center;
	width:100%;
}

h1 {
	font-size: 72px;
	margin: 0px;
}

h2 {
	font-size: 24px;
	margin: 0px;
	text-align:center;
	color: #F47D31;
}

h3 {
	font-size: 18px;
	margin: 0px;
	text-align:center;
	color: #F47D31;
}

h4 {
	color: #F47D31;
	background-color: #fff;
	-webkit-box-shadow: 2px 2px 20px #888;
	-webkit-transform: rotate(-45deg);
	position: absolute;
	padding: 0px 150px;
	top: 50px;
	left: -120px;
	text-align:center;
	
}

header h2 {
	margin: 0px;
}

nav {
	display:block;
	width:25%;
	float:left;
}

nav a:link, nav a:visited {
	display: block;
	border-bottom: 3px solid #fff;
	padding: 10px;
	text-decoration: none;
	font-weight: bold;
	margin: 5px;
}

nav a:hover {
	color: white;
	background-color: #F47D31;
}

nav h3 {
	margin: 15px;
	color: white;
}

#container {
	background-color: #888;
}

section {

	display:block;
	width:50%;
	float:left;
}

article {
	background-color: #eee;
	display:block;
	margin: 10px;
	padding: 10px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
}

article h2 {
}

aside {
	display:block;
	width:25%;
	float:left;
}

footer {
	clear: both;	
	display: block;
	background-color: #F47D31;
	color:#FFFFFF;
	text-align:center;
	padding: 15px;
}


/* links */
a {
	color: #F47D31;
}

a:hover {
	text-decoration: underline;
}
